.experience {
    height: 100%;
    // border: solid  1px;
    width: 50%;

    background-color: rgb(241, 233, 233);
    color: rgb(59, 59, 59);
    @media print {
        // border: 1px solid black;
        color: black;
        }

    &__card {
        // border-bottom: solid black 1px;

    }
    &__listed {
        width: 60%;
        // border: 1px solid black;
        display: flex;
        justify-content: space-between;
        padding-bottom: 2rem;
    }

    &__list {
        font-size: 1em;
        // border: 1px solid black;
        padding-right: 1.5rem;
        // border: 1px solid black;
        border-radius: 5px;
        padding: 1rem;
    }

    &__formation {
    // border: 1px solid black;
    border-radius: 5px;
    padding: 1rem;
    height: 45rem;
    }

    &__section {
        margin-left: 0.5rem;
        margin-bottom: 1rem;
        @media print {
            margin: 1em;
            margin-left: 0;
            }
    }

    &__contenu {
        margin: 1rem;
        @media print {
        margin: 0;
        }
    }
}

